# Dependencies
node_modules

# Build
dist
build

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Prisma
backend/prisma/migrations/*_migration_lock.toml

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
